{% extends '@App/Web/Account/layout/my_account_layout.html.twig' %}

{% block section %}
    <h1>{{ 'client.fieldset.general'|trans }}</h1>

    <table>
        <tr>
            <th align="right">{{ 'client.fields.id'|trans }}</th>
            <td>{{ '%08d'|format(user.id) }}</td>
        </tr>
        <tr>
            <th align="right">{{ 'client.fields.nationalId'|trans }}</th>
            <td>{{ user.nationalId }}</td>
        </tr>
        <tr>
            <th align="right">{{ 'client.fields.email'|trans }}</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th align="right">{{ 'client.fields.name'|trans }}</th>
            <td>{{ user.name }}</td>
        </tr>
    </table>

    <h2>{{ 'Actualizar contraseña' | trans }}</h2>
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}