{% extends '@App/Web/Account/layout/my_account_layout.html.twig' %}

{% block section %}
    <h1>{{ 'client.fieldset.general'|trans }}</h1>

    <table>
        <tr>
            <th align="right">{{ 'client.fields.id'|trans }}</th>
            <td>{{ '%08d'|format(user.id) }}</td>
        </tr>
        <tr>
            <th align="right">{{ 'client.fields.nationalId'|trans }}</th>
            <td>{{ user.nationalId }}</td>
        </tr>
        <tr>
            <th align="right">{{ 'client.fields.email'|trans }}</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th align="right">{{ 'client.fields.name'|trans }}</th>
            <td>{{ user.name }}</td>
        </tr>
    </table>

    <h2>{{ 'Privacidad' | trans }}</h2>
    <div>
        {{ form_start(privacyForm) }}
        <div style="margin: 10px">
            <label>{{ form_widget(privacyForm.newsletter) }} <span>{{ privacyForm.newsletter.vars.label }}</span></label>
        </div>
        <div style="margin: 10px">
            <label>{{ form_widget(privacyForm.cookies) }} <span>{{ privacyForm.cookies.vars.label }}</span></label>
        </div>
        {{ form_end(privacyForm) }}
    </div>

    <h2>{{ 'Actualizar contraseña' | trans }}</h2>
    <div>
        {{ form_start(passwordForm) }}
        {{ form_widget(passwordForm) }}
        {{ form_end(passwordForm) }}
    </div>
{% endblock %}