{% extends '::web/standard_layout.html.twig' %}

{% block main %}
    <h1>{{ 'Iniciar Sesion'|trans }}</h1>

    <div class="notification notification--info">
        {{  web.signupMessage|raw }}
    </div>

    {% if error %}
        <div class="notification notification--error">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path('login') }}" method="post" id="loginForm">
        <label for="username">{{ 'client.fields.email'|trans }}:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">{{ 'client.fields.password'|trans }}:</label>
        <input type="password" id="password" name="_password" />

        <input type="hidden" name="_target_path" value="{{ target_path }}" />

        <button type="submit">login</button>
    </form>
{% endblock %}