{% extends '::base.html.twig' %}

{% block stylesheets %}
    <style>{{ source(app.request.server.get('DOCUMENT_ROOT') ~ asset('build/' ~ web ~'.css')) }}</style>
{% endblock %}

{% block body %}
    <div class="printable-order">
        <table>
            <tr>
                <td colspan="2">
                    <img height="70px" src="{{ asset('bundles/app/'~order.web.name~'/logo.png') }}">
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <h1>{{ 'Albarán'|trans }}</h1>
                    <br>
                    <br>
                    Almacén de compra/venta<br>
                    {{ order.client.company.name }}<br>
                    CIF: {{ order.client.company.companyId }}<br>
                    {{ order.client.company.formattedAddress|raw }}<br>
                    {% if order.client.company.telephone %}Tel. {{ order.client.company.telephone }}<br>{% endif %}
                    {% if order.client.company.fax %}Fax. {{ order.client.company.fax }}<br>{% endif %}
                </td>
                <td align="right">
                    <strong>No.Albaran: {{ order.waybillNumber }}</strong><br>
                    Fecha: {{ order.checkoutDate|date("d/m/Y") }}<br>
                    Ref.Pedido: {{ order.basketReference }}<br>
                    <br>
                    {{ order.paymentContactName }}<br />
                    CIF/NIF: {{ order.clientNationalId }}<br />
                    {{ order.paymentAddressLine1 }}<br />
                    {{ order.paymentAddressLine2 }}<br />
                    {{ order.paymentAddressCity }} {{ order.paymentAddressPostCode }}<br />
                    {{ order.paymentAddressCountry }}
                </td>
            </tr>
        </table>

        {% include '@App/Web/partial/order.html.twig'  with {
            'order': order,
            'showDelivery': true,
            'summary': true,
            'paymentInstructions': true,
            'showTaxTable': true,
            'showAddresses': true
        } %}
    </div>
{% endblock %}
