{% block media_preview_widget %}
    {% spaceless %}
        {% if path is defined and path is not null %}
            {%  if type == 'image' %}
                <img src="{{ path | imagine_filter('small') }}"/>
            {% elseif type == 'video' %}
                <video width="260" controls>
                    <source src="{{ assets.s3prefix }}{{ path }}" type="video/mp4">
                </video>
            {% else %}
                <a download href="{{ assets.s3prefix }}{{ path }}">
                   {{ path }}
                </a>
            {%  endif %}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block order_view_widget %}
    {% spaceless %}
        <div style="width: 100%; overflow-x: auto;">
            {% include '@App/Web/partial/order.html.twig'  with {
                'order': order,
                'showDelivery': true,
                'summary': false,
                'showTaxTable': true,
                'showAddresses': true
            } %}
            <style>
                .table--tax {
                    width: 35%;
                    display: inline-block;
                }
            </style>
        </div>
    {% endspaceless %}
{% endblock %}
