{% block media_preview_widget %}
    {% spaceless %}
        {% if path is defined and path is not null %}
            {%  if type == 'image' %}
                <img src="{{ path | imagine_filter('small') }}"/>
            {% elseif type == 'video' %}
                <video width="260" controls>
                    <source src="{{ assets.s3prefix }}{{ path }}" type="video/mp4">
                </video>
            {% else %}
                <a download href="{{ assets.s3prefix }}{{ path }}">
                   {{ path }}
                </a>
            {%  endif %}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block order_view_widget %}
    {% spaceless %}
        <div style="width: 100%; overflow-x: auto;">
            {% include '@App/Web/partial/order.html.twig'  with {
                'order': order,
                'showDelivery': true,
                'summary': false,
                'showTaxTable': true,
                'showAddresses': true,
                'showStockCodes': true
            } %}
            <style>
                .table--tax {
                    width: 35%;
                    display: inline-block;
                }
            </style>
        </div>
    {% endspaceless %}
{% endblock %}

{% block stock_adder_widget %}
    {% spaceless %}
    {% set showNoStockCodesHelp = product.stockCodes|length == 0 and product.stock > 0 %}
    <input type="number"
        value="{{ value }}"
        {% if not showNoStockCodesHelp %}readonly{% endif %}
        class="form-control" 
        {{ block('widget_attributes') }} 
        style="width: 35%; display: inline-block;"
    />
    <div style="margin: 10px 0">
        <label>{{ 'Entrada de stock'| trans }}</label>
        <div>
            <label for="amount">{{ 'Lote'|trans }}:</label>
            <input type="incrementAmount" id="incrementAmount" value="" style="width: 50px">
            <label for="amount">{{ 'Cantidad'|trans }}:</label>
            <input type="incrementAmount" id="incrementAmount" value="0" style="width: 50px">
            <button id="stock-increment" data-product-id={{ product.id }}>
                {{ 'Añadir'|trans }}
            </button>
        </div>
    </div>
    {% if showNoStockCodesHelp %}
        <p>{{ 'Todavía no tiene codigos de lote para este producto. Tiene dos opciones:'|trans }}</p>
        <ol>
            <li>{{ 'Añadir entrada de stock con código de lote, y cuando se termine el stock actual se usara dicho código'|trans }}</li>
            <li>{{ 'Actualizar el stock a 0 y guardar el producto. Y después al recargar la página añadir entrada de stock con código de lote'|trans }}</li>
        </ol>
    {% endif %}
    <div id="stock-code-viewer" style="margin-top: 8px; max-height: 200px; overflow-y: scroll; border: 1px solid #eee; padding: 10px;">
        {% for code in product.stockCodes %}
            <ul style="border-bottom: 1px dashed #eee; padding: 8px 0;">
                <li>{{ 'Código'|trans }}: {{ code.code }}</li>
                <li>{{ 'Estado'|trans }}: {{ code.status }}</li>
                <li>{{ 'Indice Inicio'|trans }}: {{ code.startIndex }}</li>
                <li>{{ 'Indice Fin'|trans }}: {{ code.endIndex }}</li>
                <li>{{ 'Fecha Inicio'|trans }}: {{ code.startDate }}</li>
                <li>{{ 'Fecha Fin'|trans }}: {{ code.endDate }}</li>
            </ul>
        {% endfor %}
    </div>
    {% endspaceless %}
{% endblock %}