<div class="topbar">
    <a class="topbar__item topbar__item--telephone" itemprop="telephone" href="tel:{{ web.contactTelephone }}" content="{{ web.contactTelephone }}">
        {{ web.contactTelephone }}
    </a>
    <a class="topbar__item topbar__item--email" itemprop="email" href="mailto:{{ web.contactEmail }}" content="{{ web.contactEmail }}">
        {{ web.contactEmail }}
    </a>
    {% if app.user %}
        <a class="topbar__item topbar__item--account" href="{{ path('logout') }}">
            {{ 'link.logout'|trans }}
        </a>
    {% else %}
        <a class="topbar__item topbar__item--account" href="{{ path('login') }}">
            {{ 'link.login'|trans }}
        </a>
    {% endif %}
    <a class="topbar__item topbar__item--order" href="">
        {{ 'link.order'|trans }}
    </a>
</div>
<a href="{{ path('home') }}">
    <img
        class="logo"
        alt="{{ web.metaTitle }}"
        src="{{ asset('bundles/app/'~web.name~'/logo.png') }}">
</a>
<a href="{{ path('view-basket') }}" class="order-summary">
    <span id="baketTotal" class="order-summary__amount">{{ basket.itemTotal | number_format(2, ',', '') }} €</span>
</a>

{% include '::web/partials/navigation/index.html.twig' %}