<div class="topbar">
    <a class="topbar__item topbar__item--telephone" itemprop="telephone" href="tel:{{ web.contactTelephone }}" content="{{ web.contactTelephone }}">
        {{ web.contactTelephone }}
    </a>
    <a class="topbar__item topbar__item--email" itemprop="email" href="mailto:{{ web.contactEmail }}" content="{{ web.contactEmail }}">
        {{ web.contactEmail }}
    </a>
    <a class="topbar__item topbar__item--account" href="">{{ 'link.login'|trans }}</a>
    <a class="topbar__item topbar__item--order" href="">{{ 'link.order'|trans }}</a>
</div>
<a href="{{ path('home') }}">
    <img class="logo" alt="{{ web.metaTitle }}" src="{{ asset('bundles/app/'~web.name~'/logo.png') }}">
</a>

{% include '::web/partials/navigation/index.html.twig' %}