        <tr>
            <td colspan="4"></td>
            <td>{{ totals.basketSubTotal }}</td>
            <td>{{ totals.baseTax10 }}</td>
            <td>{{ totals.tax10 }}</td>
            <td>{{ totals.baseTax21 }}</td>
            <td>{{ totals.tax21 }}</td>
            <td>{{ totals.baseSurcharge1p4 }}</td>
            <td>{{ totals.surcharge1p4 }}</td>
            <td>{{ totals.baseSurcharge5p2 }}</td>
            <td>{{ totals.surcharge5p2 }}</td>
            <td>{{ totals.basketTotal }}</td>
        </tr>
    </body>
</html>
