<div class="address" style="width: 28%; height: 200px; margin: 10px; padding: 10px; font-size: 90%; float: left;">
    {{ order.customerFullName }}<br />
    {{ order.deliveryAddressLine1 }}<br />
    {{ order.deliveryAddressLine2 }}<br />
    {{ order.deliveryAddressPostcode }} {{ order.deliveryAddressCity }}<br />
    {{ order.deliveryAddressCountry }}<br />
    {{ order.contactTel }}<br />
</div>
