{% for product in products %}
    {% set url = path('product', { id: product.id, slug: product.slug }) %}
    {% set image = product.images ? product.images[0] : null %}
    <article itemscope itemtype="http://schema.org/Product" class="product-list-item">
        <div class="product-list-item__image">
            <a href="{{ url }}">
                <img
                    itemprop="image"
                    alt="{{ product.name }}"
                    src="{{ image ? asset(image.path) | imagine_filter('thumbnail') : '' }}"
                >
            </a>
        </div>
        <div class="product-list-item__shop">
            <a href="{{ url }}" class="product-list-item__name">
                <h2>{{ product.name }}</h2>
            </a>
            <div>
                {% set price = product.price(web) %}
                <div class="product-list-item__prices">
                    <div class="product-list-item__price">
                        {% if price.price1QuantityMax != '' %}
                            <span itemprop="eligibleQuantity" itemscope itemtype="http://schema.org/QuantitativeValue">
                                <span itemprop="minValue" content="1"></span>
                                <span itemprop="maxValue" content="{{ price.price1QuantityMax }}"></span>
                                Hasta {{ price.price1QuantityMax }}:
                            </span>
                        {% endif %}
                        <span itemprop="price" content="{{ price.price1 }}">
                            {{ price.price1 | number_format(2, ',', '') }}€
                            {% if price.price1Unit %}
                                <span class="unit">(Unidad: {{ price.price1Unit | number_format(3, ',', '') }}€)</span>
                            {% endif %}
                        </span>
                        <span itemprop="priceCurrency" content="EUR"></span>
                        <link itemprop="availability" href="http://schema.org/InStock">
                    </div>
                    {% if price.price2 %}
                    <div class="product-list-item__price">
                        {% if price.price2QuantityMax != '' %}
                            <span itemprop="eligibleQuantity" itemscope itemtype="http://schema.org/QuantitativeValue">
                                <span itemprop="minValue" content="1"></span>
                                <span itemprop="maxValue" content="{{ price.price2QuantityMax }}"></span>
                                Hasta {{ price.price2QuantityMax }}:
                            </span>
                        {% endif %}
                        <span itemprop="price" content="{{ price.price2 }}">
                            {{ price.price2 | number_format(2, ',', '') }}€
                            {% if price.price2Unit %}
                                <span class="unit">(Unidad: {{ price.price2Unit | number_format(3, ',', '') }}€)</span>
                            {% endif %}
                        </span>
                        <span itemprop="priceCurrency" content="EUR"></span>
                        <link itemprop="availability" href="http://schema.org/InStock">
                    </div>
                    {% endif %}
                    {% if price.price3 %}
                        <div class="product-list-item__price">
                            <span itemprop="eligibleQuantity" itemscope itemtype="http://schema.org/QuantitativeValue">
                                <span itemprop="minValue" content="{{ price.price2QuantityMax }}"></span>
                                Más de {{ price.price2QuantityMax }}:
                            </span>
                            <span itemprop="price" content="{{ price.price3 }}">
                                {{ price.price3 | number_format(2, ',', '') }}€
                                {% if price.price3Unit %}
                                    <span class="unit">(Unidad: {{ price.price3Unit | number_format(3, ',', '') }}€)</span>
                                {% endif %}
                            </span>
                            <span itemprop="priceCurrency" content="EUR"></span>
                            <link itemprop="availability" href="http://schema.org/InStock">
                        </div>
                    {% endif %}
                </div>
                {%  if price %}
                <form class="add-to-basket-form product-list-item__actions" action="{{ path('add_to_basket') }}">
                    <input type="number" value="1" name="quantity">
                    <input type="hidden" value="{{ price.id }}" name="priceId">
                    <button type="submit"></button>
                </form>
                {% endif %}
            </div>
        </div>
    </article>
{% endfor %}