{% for product in products %}
    {% set url = path('product', { id: product.id, slug: product.slug }) %}
    {% set image = product.images ? product.images[0] : null %}
    <article itemscope itemtype="http://schema.org/Product" class="product-list-item">
        <div class="product-list-item__image">
            <a href="{{ url }}">
                <img
                    itemprop="image"
                    alt="{{ product.name }}"
                    src="{{ image ? asset(image.path) | imagine_filter('thumbnail') : '' }}"
                >
            </a>
        </div>
        <div class="product-list-item__shop">
            <a href="{{ url }}" class="product-list-item__name">
                <h2>{{ product.name }}</h2>
            </a>
            <div>
                {% set price = product.price(web) %}
                {%  if price %}
                    <div class="product-list-item__prices">
                        {% include '@App/Web/Product/partials/price-list.html.twig' with {
                            'price': price
                        } %}
                    </div>
                    <form class="add-to-basket-form product-list-item__actions" action="{{ path('add_to_basket') }}">
                        <input type="number" value="1" name="quantity">
                        <input type="hidden" value="{{ price.id }}" name="priceId">
                        <button type="submit"></button>
                    </form>
                {% else %}<span class="unavailable">{{ 'No disponible'|trans }}{% endif %}
            </div>
        </div>
    </article>
{% endfor %}