{% extends '::web/standard_layout.html.twig' %}

{% block main %}
    <div class="account">
        <nav class="account__menu">
            <a
                {% if app.request.attributes.get('_route') == 'my-account'%}class="account__menu--selected"{% endif %}
                href="{{ path('my-account') }}"
            >
                {{ 'client.fieldset.general'|trans }}
            </a>
            <a
                {% if app.request.attributes.get('_route') == 'my-addresses'%}class="account__menu--selected"{% endif %}
                href="{{ path('my-addresses') }}"
            >
                {{ 'client.fieldset.addresses'|trans }}
            </a>
            <a
                {% if app.request.attributes.get('_route') == 'my-orders'%}class="account__menu--selected"{% endif %}
                href="{{ path('my-orders') }}"
            >
                {{ 'Pedidos'|trans }}
            </a>
        </nav>
        <div class="account__section">
            {% block section %}{% endblock %}
        </div>
    </div>
{% endblock %}