{% extends '::web/standard_layout.html.twig' %}

{% block main %}
    <h1>{{ 'Mi Pedido'|trans }}</h1>

    {% if basket.basketItems is empty %}
        {{ 'Todavía no tiene productos en su pedido' | trans }}
    {% else %}
        {% include '@App/Web/partial/order.html.twig'  with {'order': basket, 'actions': true} %}

        {% if app.user %}
            {# <p>
                {{ 'Recuerde que puede gestionar sus direcciones e información %link_start%aquí%link_end%.'
                | trans({'%link_start%' : '<a href="'~path('my-addresses')~'">', '%link_end%' : '</a>'})
                | raw }}
            </p> #}
            <div>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        {% else %}
            <p>{{ 'Debe hacer %link_start%login%link_end% para continuar con el pedido.' | trans({
                '%link_start%' : '<a href="'~path('login')~'">',
                '%link_end%' : '</a>'}, 'account'
            ) | raw }}</p>
        {% endif %}
    {% endif %}
    <script>
        var customAddress = document.querySelector('#set_order_addresses > div:nth-child(2)');
        var selectElem = document.getElementById('set_order_addresses_deliveryAddress');
        function toggleDeliveryAddressBlock(){
            switch (selectElem.value.toLowerCase()) {
                case 'new':
                    customAddress.style.display = 'block';
                    break;
                default:
                    customAddress.style.display = 'none';
            }
        }
        selectElem.addEventListener('change', toggleDeliveryAddressBlock);
        toggleDeliveryAddressBlock();
    </script>
{% endblock %}