{% extends '::web/standard_layout.html.twig' %}

{% block metaTitle %}{{ web.metaTitle }}{% endblock %}

{% block metaDescription %}{{ web.metaDescription }}{% endblock %}

{% block metaKeywords %}{{ web.metaKeywords }}{% endblock %}

{% block main %}
    <div class="products-toggle">
        <span id="toggle-list" class="products-toggle__list products-toggle__list--active"></span>
        <span id="toggle-grid" class="products-toggle__grid"></span>
    </div>

    <h1>{{ title }}</h1>

    <div id="products-wrapper" class="product-list">
        {% for product in products %}
            {% set url = path('product', { id: product.id, slug: product.slug }) %}
            {% set image = product.images ? product.images[0] : null %}
            <article itemscope itemtype="http://schema.org/Product" class="product-list-item">
                <div class="product-list-item__image">
                    <a href="{{ url }}">
                        <img
                            itemprop="image"
                            alt="{{ product.name }}"
                            src="{{ image ? asset(image.path) | imagine_filter('thumbnail') : '' }}"
                        >
                    </a>
                </div>
                <div class="product-list-item__shop">
                    <a href="{{ url }}" class="product-list-item__name">
                        <h2>{{ product.name }}</h2>
                    </a>
                    <div>
                        <div class="product-list-item__price">
                            <span itemprop="price" content="{{ product.price }}">
                                {{ product.price | number_format(2, ',', ' ') }}
                            </span>
                            <span itemprop="priceCurrency" content="EUR">&euro;</span>
                            <link itemprop="availability" href="http://schema.org/InStock">
                        </div>
                        <div class="product-list-item__actions">
                            <input type="number" value="1" name="quantity">
                            <button type="submit"></button>
                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>

    <script>
      var wrapper = document.getElementById('products-wrapper');
      var toggleList = document.getElementById('toggle-list');
      var toggleGrid = document.getElementById('toggle-grid');
      toggleList.addEventListener('click', function () {
        wrapper.classList = 'product-list';
        toggleList.classList.add('products-toggle__list--active');
        toggleGrid.classList.remove('products-toggle__grid--active');
      });
      toggleGrid.addEventListener('click', function () {
        wrapper.classList = 'product-grid';
        toggleGrid.classList.add('products-toggle__grid--active');
        toggleList.classList.remove('products-toggle__list--active');
      });
    </script>
{% endblock %}
