{% extends '::web/standard_layout.html.twig' %}

{% block metaTitle %}{{ product.name }} | Madelven.com{% endblock %}

{% block main %}
    <div itemscope itemtype="http://schema.org/Product" class="product">
        <h1 itemprop="name" class="product__name">
            {{ product.name }}
        </h1>
        {% if product.images %}
            <div class="product__gallery">
                {% include '@App/Web/Product/partials/gallery.html.twig' %}
            </div>
        {% endif %}
        <div class="product__price-list">
            {% set price = product.price(web) %}
            {%  if price %}
                {% include '@App/Web/Product/partials/price-list.html.twig' with {
                    'price': price
                } %}
                <div class="price-list__actions">
                    <form class="add-to-basket-form product-list-item__actions" action="{{ path('add_to_basket') }}">
                        <label for="quantity">{{ 'Cantidad'|trans }}</label>
                        <input id="quantity" type="number" value="1" name="quantity">
                        <input type="hidden" value="{{ price.id }}" name="priceId">
                        <button type="submit">{{ 'Añadir a pedido'|trans }}</button>
                    </form>
                    </button>
                </div>
            {% endif %}
        </div>

        <h2>{{ 'product.fields.description'|trans }}</h2>
        <div itemprop="description" class="product__description">
            {{ product.description|raw }}
        </div>
        <div class="product__details">
            {% include '@App/Web/Product/partials/product-details.html.twig' %}
        </div>

        {% for video in product.videos %}
            <video class="product__video" controls>
                <source src="{{ asset(video.path) }}" type="video/mp4">
            </video>
        {% endfor %}
    </div>
{% endblock %}
